homework/M5/wf2-scheduled-monitor.langfuse.json
{
  "name": "WF2 — Scheduled Monitor (Langfuse)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "b8bf63c1-f4e1-421b-bcc1-cc6e861ece4f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -896,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = '/data/logs/logs.json';\nconst data = JSON.parse(fs.readFileSync(path, 'utf-8'));\n\nconst now = Date.now();\nconst window_ms = 60 * 1000;\nconst recent = data.filter(e => (now - new Date(e.timestamp).getTime()) < window_ms);\n\nconst total = recent.length;\nconst errors = recent.filter(e => e.status === 'error').length;\nconst error_rate = total > 0 ? errors / total : 0;\n\nreturn [{ json: { feature_id: 'search_v2', error_rate, total, errors } }];"
      },
      "id": "2ab31f80-bf82-461d-b7e5-ea3e5ac68cd0",
      "name": "Read & Analyze Logs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        224
      ]
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:5001/api/feature-flags/{{ $json.feature_id }}",
        "options": {}
      },
      "id": "144b79fa-e854-4978-af48-3485bbb412d6",
      "name": "Get Feature Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  feature_id: $('Read & Analyze Logs').item.json.feature_id,\n  error_rate: $('Read & Analyze Logs').item.json.error_rate,\n  total: $('Read & Analyze Logs').item.json.total,\n  errors: $('Read & Analyze Logs').item.json.errors,\n  current_status: $('Get Feature Status').item.json.status,\n  current_traffic: $('Get Feature Status').item.json.traffic_percentage\n}}];"
      },
      "id": "f64431ff-c845-4ddd-af6d-ec44829d7aea",
      "name": "Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "// B.3 replay cooldown — read last_disabled_at from workflow staticData\n// and inject cooldown flags into the payload so Switch can gate the reenable branch.\nconst featureId = $json.feature_id;\nconst cooldownMs = 3 * 60 * 1000;\nconst now = Date.now();\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.feature_state) staticData.feature_state = {};\nconst featureState = staticData.feature_state[featureId] || {};\nconst lastDisabledAt = featureState.last_disabled_at || null;\n\nconst cooldownRemainingMs = lastDisabledAt\n  ? Math.max(0, cooldownMs - (now - lastDisabledAt))\n  : 0;\nconst cooldownActive = cooldownRemainingMs > 0;\n\nreturn [{ json: {\n  ...$json,\n  last_disabled_at: lastDisabledAt,\n  cooldown_remaining_ms: cooldownRemainingMs,\n  cooldown_active: cooldownActive\n}}];"
      },
      "id": "c1d2e3f4-5a6b-7c8d-9e0f-111213141516",
      "name": "Check Cooldown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -168,
        224
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "rule-deactivate-error-rate",
                    "leftValue": "={{ $json.error_rate }}",
                    "rightValue": 0.05,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  },
                  {
                    "id": "rule-deactivate-status",
                    "leftValue": "={{ $json.current_status }}",
                    "rightValue": "Disabled",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deactivate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "rule-reenable-error-rate",
                    "leftValue": "={{ $json.error_rate }}",
                    "rightValue": 0.01,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  },
                  {
                    "id": "rule-reenable-status",
                    "leftValue": "={{ $json.current_status }}",
                    "rightValue": "Disabled",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "rule-reenable-cooldown",
                    "leftValue": "={{ $json.cooldown_active }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reenable"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "enabled"
        }
      },
      "id": "39a2939d-3b6a-4aad-926c-1b419f74f38b",
      "name": "Switch — Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -64,
        224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-decision-deactivate",
              "name": "decision",
              "value": "deactivate",
              "type": "string"
            },
            {
              "id": "set-feature-id-deactivate",
              "name": "feature_id",
              "value": "={{ $json.feature_id }}",
              "type": "string"
            },
            {
              "id": "set-error-rate-deactivate",
              "name": "error_rate",
              "value": "={{ $json.error_rate }}",
              "type": "number"
            },
            {
              "id": "set-current-status-deactivate",
              "name": "current_status",
              "value": "={{ $json.current_status }}",
              "type": "string"
            },
            {
              "id": "set-current-traffic-deactivate",
              "name": "current_traffic",
              "value": "={{ $json.current_traffic }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "f20a5f3a-b94c-4203-b8a9-4a1b70f3a623",
      "name": "Set Decision deactivate",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        64
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-decision-reenable",
              "name": "decision",
              "value": "reenable",
              "type": "string"
            },
            {
              "id": "set-feature-id-reenable",
              "name": "feature_id",
              "value": "={{ $json.feature_id }}",
              "type": "string"
            },
            {
              "id": "set-error-rate-reenable",
              "name": "error_rate",
              "value": "={{ $json.error_rate }}",
              "type": "number"
            },
            {
              "id": "set-current-status-reenable",
              "name": "current_status",
              "value": "={{ $json.current_status }}",
              "type": "string"
            },
            {
              "id": "set-current-traffic-reenable",
              "name": "current_traffic",
              "value": "={{ $json.current_traffic }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "5f9ffe0f-2d35-4446-b261-ffb96343142b",
      "name": "Set Decision reenable",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        224
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "hasOutputParser": true,
        "needsFallback": false,
        "langfuseMetadata": {
          "sessionId": "={{ $json.feature_id }}",
          "userId": "wf2-defensive-guard"
        },
        "options": {
          "systemMessage": "=Goal:\nРеши — нужна ли human approval перед действием \"deactivate\" для feature {{$json.feature_id}}.\n\nContext:\n- Action: deactivate (downstream выполнит set_feature_state(feature_id, \"Disabled\")).\n- Target state: Disabled (traffic auto → 0).\n- Current state: status={{$json.current_status}}, traffic={{$json.current_traffic}}%.\n- Error rate за окно 60s: {{ ($json.error_rate * 100).toFixed(1) }}% (threshold deactivate = 5%).\n- Production-критичность фичи: true (search_v2 — основная поисковая воронка proshop_mern, hardcoded is_critical=true).\n- Server time (UTC): {{ $now.toISO() }}\n- Local time hint: Kyiv EEST = UTC+3; рабочие часы 09:00–18:00 EEST = 06:00–15:00 UTC. Outside этого диапазона = outside work hours.\n\nAction:\nОцени риск по 5 критериям spec §Appendix E:\n1. Действие необратимо? — Disabled требует manual re-enable; B.3 cooldown 3 мин дополнительно блокирует автоматический reenable.\n2. Затрагивает production-критичную фичу? — is_critical=true для search_v2.\n3. Снижение traffic > 25% за один шаг? — current_traffic → 0; считай true если current_traffic >= 25.\n4. Время вне рабочих часов? — посмотри Server time (UTC), сравни с 06:00–15:00 UTC окном.\n5. Действие на Enabled-фиче (фактическая деактивация production)? — current_status == \"Enabled\".\n\nПосчитай сколько критериев true. Если 2 или больше — requires_approval = true.\n\nConstraints:\n- Override rule: is_critical=true И action=deactivate → ВСЕГДА requires_approval=true (production-safety override).\n- approval_message формата: \"Подтвердите деактивацию: {feature_id} (status {current_status}, traffic {current_traffic}%, error rate {X}%). Risk: {risk_factors_short}.\"\n- risk_factors — массив коротких русских строк с названиями сработавших критериев (например, [\"production-critical feature\", \"traffic drop ≥ 25%\", \"outside work hours\"]).\n- НЕ вызывай никакие tools — это чистая reasoning-нода без MCP.\n\nOutput:\nJSON строго по схеме:\n{\n  \"requires_approval\": boolean,\n  \"risk_factors\": [\"string\"],\n  \"auto_execute_allowed\": boolean,\n  \"approval_message\": string | null\n}",
          "maxIterations": 3,
          "returnIntermediateSteps": true
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Defensive Guard",
      "type": "n8n-nodes-ai-agent-langfuse.agentWithLangfuse",
      "typeVersion": 2,
      "position": [
        320,
        -64
      ],
      "credentials": {
        "langfuseCustomApi": {
          "name": "m5-langfuse"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"requires_approval\", \"risk_factors\", \"auto_execute_allowed\"],\n  \"properties\": {\n    \"requires_approval\": {\"type\": \"boolean\"},\n    \"risk_factors\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}},\n    \"auto_execute_allowed\": {\"type\": \"boolean\"},\n    \"approval_message\": {\"type\": [\"string\", \"null\"]}\n  }\n}"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "Defensive Guard Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        320,
        -240
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "rule-hitl-required",
                    "leftValue": "={{ $json.output.requires_approval }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approval_required"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "auto_execute"
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "Switch — HITL Gate",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        520,
        -64
      ]
    },
    {
      "parameters": {
        "chatId": "=<<YOUR_TELEGRAM_CHAT_ID>>",
        "text": "={{ '⚠️ HITL approval required\\n\\n' + $json.output.approval_message + '\\n\\nRisk factors:\\n• ' + $json.output.risk_factors.join('\\n• ') + '\\n\\nDecide within ~10 min:' }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Approve",
                    "additionalFields": {
                      "url": "={{ $execution.resumeUrl }}&action=approve"
                    }
                  },
                  {
                    "text": "❌ Decline",
                    "additionalFields": {
                      "url": "={{ $execution.resumeUrl }}&action=decline"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "d4e5f6a7-b8c9-0123-def4-456789012345",
      "name": "Telegram — Approval Request",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        -160
      ],
      "webhookId": "5af2bcde-1234-4567-89ab-cdef01234567",
      "credentials": {
        "telegramApi": {
          "id": "HUY8osvPfGSKoEkf",
          "name": "m5-telegram-alerts"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-ef56-567890123456",
      "name": "Wait — Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        920,
        -160
      ],
      "webhookId": "6bf3cdef-2345-5678-9abc-def012345678"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "rule-resume-approve",
                    "leftValue": "={{ $json.query.action }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "approved"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "declined"
        }
      },
      "id": "f6a7b8c9-d0e1-2345-f678-678901234567",
      "name": "Switch — Resume Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1120,
        -160
      ]
    },
    {
      "parameters": {
        "chatId": "=<<YOUR_TELEGRAM_CHAT_ID>>",
        "text": "={{ '❌ Deactivate aborted by operator for ' + $('Set Decision deactivate').item.json.feature_id + '. Feature stays ' + $('Set Decision deactivate').item.json.current_status + ' (traffic ' + $('Set Decision deactivate').item.json.current_traffic + '%). Cooldown NOT recorded — next cron may re-prompt.' }}",
        "additionalFields": {}
      },
      "id": "a7b8c9d0-e1f2-3456-7890-789012345678",
      "name": "Telegram — Decline Ack",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1320,
        -240
      ],
      "webhookId": "7cd4def0-3456-6789-abcd-ef0123456789",
      "credentials": {
        "telegramApi": {
          "id": "HUY8osvPfGSKoEkf",
          "name": "m5-telegram-alerts"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "hasOutputParser": true,
        "needsFallback": false,
        "langfuseMetadata": {
          "sessionId": "={{ $('Merge Data').item.json.feature_id }}",
          "userId": "wf2-monitor"
        },
        "options": {
          "systemMessage": "=Goal:\nЗарегистрировать инцидент или recovery для feature {{$('Merge Data').item.json.feature_id}}.\nТекущий error rate: {{$('Merge Data').item.json.error_rate}} (threshold deactivate: 5%, threshold re-enable: 1%).\nТекущее состояние: {{$('Merge Data').item.json.current_status}} (traffic {{$('Merge Data').item.json.current_traffic}}%).\nDecision из upstream: {{$json.decision}} (deactivate | reenable | noop).\n\nContext:\n- Decision уже посчитан upstream (в Switch-ноде по error_rate + current_status) — твоя задача выполнить решение через MCP.\n- Available MCP tools: get_feature_info(feature_id), set_feature_state(feature_id, state).\n- ВАЖНО про параметры MCP (отличается от spec шаблона):\n  - set_feature_state принимает параметр `state` (не target_state). Допустимые значения: \"Disabled\" | \"Testing\" | \"Enabled\".\n- Side effects set_feature_state:\n  - \"Disabled\" → traffic автоматически = 0.\n  - \"Enabled\" → traffic автоматически = 100. **Это значит: если фича была в Testing с traffic=25 и мы её Disabled→Enabled, она вернётся с traffic=100, не с 25.**\n  - \"Testing\" → traffic = 10 (если ранее был вне 1..99).\n- Threshold deactivate = 5%, re-enable = 1%. При decision=deactivate фича сейчас НЕ Disabled. При decision=reenable фича сейчас Disabled.\n- НЕ принимай решение самостоятельно: следуй decision из payload. Это Algorithm-before-AI — guards снаружи модели.\n\nAction:\n1. Вызови get_feature_info(feature_id) для актуального state (на случай гонки между Switch и AI Agent).\n2. Если decision=\"deactivate\":\n   - Проверь что status != \"Disabled\". Если уже Disabled — верни action_taken=\"no_op\", reason=\"already_disabled\" (защита от спама).\n   - Иначе вызови set_feature_state(feature_id, \"Disabled\").\n   - Снова get_feature_info для верификации.\n3. Если decision=\"reenable\":\n   - Проверь что status == \"Disabled\". Если уже Enabled/Testing — верни action_taken=\"no_op\", reason=\"already_enabled\".\n   - Иначе вызови set_feature_state(feature_id, \"Enabled\").\n   - Снова get_feature_info для верификации.\n4. Если decision=\"noop\" — ничего не делать, верни action_taken=\"no_op\", reason=\"within_threshold\".\n5. Сформируй короткий русский alert_message для Telegram (см. Constraints ниже).\n\nOutput:\nJSON строго по схеме:\n{\n  \"action_taken\": \"deactivated\" | \"reenabled\" | \"no_op\" | \"error\",\n  \"previous_state\": object | null,\n  \"new_state\": object | null,\n  \"alert_message\": string (1-2 предложения для Telegram, на русском),\n  \"error_rate_percent\": number (округли error_rate * 100 до 1 знака),\n  \"threshold_used\": number (0.05 для deactivate, 0.01 для reenable, 0 для noop),\n  \"reason\": string | null\n}\n\nConstraints:\n- alert_message формат:\n  - deactivated: \"🚨 Feature {feature_id} деактивирована: error rate {X}% превысил порог {Y}%.\"\n  - reenabled:   \"✅ Feature {feature_id} восстановлена: error rate {X}% упал ниже {Y}%.\"\n  - no_op:       \"ℹ️ Feature {feature_id} — без изменений (error rate {X}%, статус {S}).\"\n- НЕ вызывай set_feature_state если state уже соответствует целевому.\n- При ошибке от MCP (isError: true) — action_taken=\"error\" с reason содержащим текст ошибки.\n- Если MCP вернул ответ с `warnings: [...]` (например, dependency не Enabled) — НЕ блокируй действие, передай предупреждения в alert_message; считай вызов успешным.",
          "maxIterations": 5,
          "returnIntermediateSteps": true
        }
      },
      "id": "d1e3367e-c43e-4aec-bdf0-978ee2e2c75a",
      "name": "AI Agent — Monitor Agent",
      "type": "n8n-nodes-ai-agent-langfuse.agentWithLangfuse",
      "typeVersion": 2,
      "position": [
        1320,
        80
      ],
      "credentials": {
        "langfuseCustomApi": {
          "name": "m5-langfuse"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "988d81db-ae40-48e0-bf8f-3e185d20c8e9",
      "name": "Chat Model — OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1176,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "NFFoTkIuASyE4EwS",
          "name": "m5-chat-model"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "http://host.docker.internal:3001/sse",
        "options": {}
      },
      "id": "f1bc02ff-a1a7-4866-90f8-fce86839ad05",
      "name": "MCP Client Tool — Feature Flags",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1320,
        320
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"action_taken\", \"alert_message\"],\n  \"properties\": {\n    \"action_taken\": {\"type\": \"string\", \"enum\": [\"deactivated\", \"reenabled\", \"no_op\", \"error\"]},\n    \"previous_state\": {\"type\": [\"object\", \"null\"]},\n    \"new_state\": {\"type\": [\"object\", \"null\"]},\n    \"alert_message\": {\"type\": \"string\"},\n    \"error_rate_percent\": {\"type\": \"number\"},\n    \"threshold_used\": {\"type\": \"number\"},\n    \"reason\": {\"type\": [\"string\", \"null\"]}\n  }\n}"
      },
      "id": "746cb2ea-740e-4321-b232-1416b9e801c0",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1464,
        320
      ]
    },
    {
      "parameters": {
        "chatId": "=<<YOUR_TELEGRAM_CHAT_ID>>",
        "text": "={{ $json.output.alert_message }}",
        "additionalFields": {}
      },
      "id": "e4fbb74f-4cb6-462f-af8d-5addae7a2e97",
      "name": "Telegram — Send Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1720,
        80
      ],
      "webhookId": "f20b18d5-43de-499f-a7a8-40a4fb69a1fa",
      "credentials": {
        "telegramApi": {
          "id": "HUY8osvPfGSKoEkf",
          "name": "m5-telegram-alerts"
        }
      }
    },
    {
      "parameters": {},
      "id": "24a35c01-998b-474b-8e9e-f67a28181d7e",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        144,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// B.3 replay cooldown — persist last_disabled_at on confirmed deactivate.\n// Runs after the AI Agent on the merged path; guards on action_taken so reenable\n// and no_op runs do not overwrite the timestamp.\nconst output = $json.output || {};\nconst featureId = $('Merge Data').item.json.feature_id;\n\nif (output.action_taken === 'deactivated') {\n  const staticData = $getWorkflowStaticData('global');\n  if (!staticData.feature_state) staticData.feature_state = {};\n  if (!staticData.feature_state[featureId]) staticData.feature_state[featureId] = {};\n  staticData.feature_state[featureId].last_disabled_at = Date.now();\n}\n\nreturn [{ json: $json }];"
      },
      "id": "d2e3f4a5-6b7c-8d9e-0f12-131415161718",
      "name": "Record Disable Timestamp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read & Analyze Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read & Analyze Logs": {
      "main": [
        [
          {
            "node": "Get Feature Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Feature Status": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Check Cooldown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cooldown": {
      "main": [
        [
          {
            "node": "Switch — Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — Decision": {
      "main": [
        [
          {
            "node": "Set Decision deactivate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Decision reenable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Decision deactivate": {
      "main": [
        [
          {
            "node": "Defensive Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Decision reenable": {
      "main": [
        [
          {
            "node": "AI Agent — Monitor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Defensive Guard": {
      "main": [
        [
          {
            "node": "Switch — HITL Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — HITL Gate": {
      "main": [
        [
          {
            "node": "Telegram — Approval Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent — Monitor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram — Approval Request": {
      "main": [
        [
          {
            "node": "Wait — Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — Approval": {
      "main": [
        [
          {
            "node": "Switch — Resume Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — Resume Decision": {
      "main": [
        [
          {
            "node": "AI Agent — Monitor Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram — Decline Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent — Monitor Agent": {
      "main": [
        [
          {
            "node": "Record Disable Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Disable Timestamp": {
      "main": [
        [
          {
            "node": "Telegram — Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model — OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — Monitor Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Defensive Guard",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client Tool — Feature Flags": {
      "ai_tool": [
        [
          {
            "node": "AI Agent — Monitor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent — Monitor Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Defensive Guard Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Defensive Guard",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
